* {
  background-color: beige;
  font-family: Poor Story , sans-serif;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  color: #175485;
  font-size: 3rem;
}

img {
  border: 12px solid rgb(39, 211, 217);
  border-radius: 4px;
  height: 60vh;
  min-height: 300px;
  min-width: 200px;
  object-fit: cover;
  object-position: center;
  width: 50vw;
}

button {
  background-color: #88e8e3;
  border: 0;
  border-radius: 6px;
  color: rgb(23, 84, 133);
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1rem;
  padding: 1rem 6rem;
}

button:active {
  transform: translateY(4px);
}

@media ( max-width : 425px ) {

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  img {
    height: 70vh;
    width: 80%;
  }

  button {
    padding: 1rem 2rem;
    width: 85%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poor+Story&display=swap') ;
